.keyboard-row {
  display: flex;
}

.button, .hands div {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}

.pressed {
  background-color: #aaa; // Серый цвет для нажатых клавиш
}

.highlighted {
  background-color: yellow; // Желтый цвет для выделенных пальцев
}
